In [ ]:
import pandas as pd

df = pd.read_csv('data/data2.csv')
df = df.dropna()

df.head(5)

,x,y,z,t0,t1,t2,t3,xc_px,yc_px,xc,yc,diagonal
0,0.05,-0.24,0.12,1.768289,37.711826,81.025619,43.313793,NaN,NaN,NaN,NaN,NaN
1,0.06,-0.24,0.12,4.036243,35.196067,77.045020,41.848953,NaN,NaN,NaN,NaN,NaN
2,0.07,-0.24,0.12,6.260205,31.753588,71.469230,39.715641,NaN,NaN,NaN,NaN,NaN
3,0.10,-0.23,0.12,13.498566,30.528690,69.449178,38.920487,NaN,NaN,NaN,NaN,NaN
4,0.12,-0.22,0.12,18.610460,30.845048,69.972724,39.127676,NaN,NaN,NaN,NaN,NaN