In [1]:
import pandas as pd

df = pd.read_csv('data/train_data.csv')
df = df.dropna()

df.head(5)

,x,y,z,t0,t1,t2,t3,xc_px,yc_px,xc,yc,diagonal
7,0.16,-0.19,0.12,30.100908,33.948155,75.041009,41.092854,-275.0,145.0,4.950,2.610,73.389373
8,0.17,-0.18,0.12,33.363423,34.952635,76.655631,41.702995,-264.0,160.0,4.752,2.880,72.801099
9,0.18,-0.17,0.12,36.636577,34.952635,76.655631,41.702995,-249.0,178.0,4.482,3.204,72.780492
10,0.19,-0.16,0.12,39.899092,33.948155,75.041009,41.092854,-235.0,191.0,4.230,3.438,72.835431
11,0.20,-0.15,0.12,43.130102,31.753588,71.469230,39.715641,-222.0,208.0,3.996,3.744,75.239617

In [18]:
from utils.functions import mapping, ikine
l1, l2, l3 = 0.1, 0.124, 0.06 
import numpy as np

def simulate_travel(start:tuple[float, float], end:tuple[float, float], travel_points:list[float]):
    xi, yi = start
    xf, yf = end
    
    t0, t1, t2, t3, _, _ = mapping(ikine([xi, yi, .12], l1, l2, l3))
    data = {
        "t0i":  t0,
        "t1i":  t1,
        "t2i":  t2,
        "t3i":  t3,
        "xi"  : xi,
        "yi"  : yi,
    }
    
    
    for point in travel_points:
        x = xi + point * (xf-xi)
        y = yi + point * (yf-yi)
        
        t0, t1, t2, t3, _, _ = mapping(ikine([x, y, .12], l1, l2, l3))
        data.update({
            f"t0{point:.2f}" : t0,
            f"t1{point:.2f}":  t1,
            f"t2{point:.2f}":  t2,
            f"t3{point:.2f}":  t3,
            f"x{point:.2f}"  : x,
            f"y{point:.2f}"  : y,
        })
    
    t0, t1, t2, t3, _, _ = mapping(ikine([x, y, .12], l1, l2, l3))
    data.update({
        f"t0f": t0,
        f"t1f": t1,
        f"t2f": t2,
        f"t3f": t3,
        f"xf"  : xf,
        f"yf"  : yf,
    })
    
    return data

def get_data_train(n_samples=None, travel_points=[0.3, 0.5, 0.75, 0.825, 0.9, 0.95], x_start:float=0.035, y_start:float=0)->pd.DataFrame:
    if n_samples is None:
        points = df[['x', 'y']].values
    else:
        x_range, y_range = (df['x'].min(), df['x'].max()), (df['y'].min(), df['y'].max())
        points = np.column_stack((np.random.uniform(*x_range,  n_samples), np.random.uniform(*y_range, n_samples)))
        
    data = []
    for point in points:
        try:
            travel = simulate_travel((x_start, y_start), point, travel_points)
            data.append(travel)
        except:
            pass
    
    return pd.DataFrame(data)

In [ ]:
narx_train_dataset = get_data_train() # RETORNA todos os x e Y do dataset de treinamento
narx_train_values = get_data_train(10_000)

      t0i         t1i        t2i       t3i     xi  yi      t00.30      t10.30  \
0    80.0  163.649548  171.03985  7.390302  0.035   0   41.825326  133.444339
1    80.0  163.649548  171.03985  7.390302  0.035   0   44.426445  133.082299
2    80.0  163.649548  171.03985  7.390302  0.035   0   46.988962  132.605931
3    80.0  163.649548  171.03985  7.390302  0.035   0   49.503742  132.017756
4    80.0  163.649548  171.03985  7.390302  0.035   0   51.962718  131.320826
..    ...         ...        ...       ...    ...  ..         ...         ...
699  80.0  163.649548  171.03985  7.390302  0.035   0   95.767183  159.702987
700  80.0  163.649548  171.03985  7.390302  0.035   0   96.898649  160.991086
701  80.0  163.649548  171.03985  7.390302  0.035   0  100.794115  160.562048
702  80.0  163.649548  171.03985  7.390302  0.035   0   92.835609  161.328372
703  80.0  163.649548  171.03985  7.390302  0.035   0   91.956584  160.028731

         t20.30     t30.30  ...      t20.95     t30.95    x0.95   y0.95  \
0    169.653858  36.209519  ...   92.370482  47.192409  0.15375 -0.1805
1    169.547277  36.464978  ...   93.206985  47.459330  0.16325 -0.1710
2    169.404447  36.798515  ...   93.122756  47.432581  0.17275 -0.1615
3    169.224045  37.206289  ...   92.113069  47.109706  0.18225 -0.1520
4    169.004518  37.683693  ...   90.117978  46.459896  0.19175 -0.1425
..          ...        ...  ...         ...        ...      ...     ...
699  172.008643  12.305656  ...  172.293636  25.812244  0.05875  0.0380
700  171.752241  10.761155  ...  172.591080  21.854170  0.04925  0.0380
701  171.843552  11.281504  ...  172.379010  25.035235  0.04925  0.0475
702  171.676138  10.347766  ...  172.604617  19.085227  0.04925  0.0285
703  171.948760  11.920029  ...  172.512036  23.446001  0.05875  0.0285

            t0f         t1f         t2f        t3f    xf    yf
0     30.424375   45.178074   92.370482  47.192409  0.16 -0.19
1     33.671764   45.747655   93.206985  47.459330  0.17 -0.18
2     36.927702   45.690175   93.122756  47.432581  0.18 -0.17
3     40.171245   45.003363   92.113069  47.109706  0.19 -0.16
4     43.381924   43.658083   90.117978  46.459896  0.20 -0.15
..          ...         ...         ...        ...   ...   ...
699  112.895132  146.481392  172.293636  25.812244  0.06  0.04
700  117.652830  150.736910  172.591080  21.854170  0.05  0.04
701  123.963755  147.343775  172.379010  25.035235  0.05  0.05
702  110.057117  153.519390  172.604617  19.085227  0.05  0.03
703  105.878320  149.066034  172.512036  23.446001  0.06  0.03

[704 rows x 48 columns]